html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    padding: 10px 40px;
    border-radius: 0px;
}

#game-container {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#game-list-options {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    background: #6F6F6F;
    text-align: center;
}

#game-list {
    height: 527px;
    max-height: 527px;
    overflow-y: auto;
}

#game-list table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#game-list table th {
    background: #6f6f6f;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

#game-list table td,
#game-list table th {
    padding: 20px;
    text-align: left;
}

#game-list table td:last-child,
#game-list table th:last-child {
    text-align: right;
}

#game-list table tr {
    background: #f3f3f3;
}

#game-list table tr:nth-child(odd) {
    background: #dadada;
}

#debug {
    background: black;
    color: white;
    font-family: Menlo;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    font-size: 12px;
}